/**
    App Layout Style Sheet
    Jesse Sutherland April 12 2010
**/
/**/
/* Layouts */
* {
    margin:0;
    padding:0;
}

html {
}

html, body {
    width: 100%;
    text-align:center;
}

body {
}

#container {
    position:relative;
    margin:0 auto;
    width: 90%;
    max-width:800px;
    text-align:left;
}

#header {
    padding:1em 0 1em 0;
}

#header .matte {
    padding:0.5em 0;
}

#footer {
    padding:0.5em;
}

#picture_frame {
    position:relative;
    clear:both;
    margin:0;
    padding:1em 0 0 0;
    border:3px #ddd solid;
    min-height:300px;
    background:#fff;
}

.iphone #picture_frame {
    border:0;
}

#controls {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:5em;
    opacity:0.2;
}

#controls:hover {
/*    opacity:1 !important;*/
}

#img_grid {
/*    position:absolute;*/
/*    left:6em;*/
/*    top:1em;*/
    margin:0.5em auto;
    border:2px #eee solid;
    border-width:2px 2px 1px 2px;
    width:310px;
    background:#fff;
    z-index:99;
    opacity:0.4;
    -webkit-box-shadow: 0 2px 6px #555;
}

#picture_frame #img_grid:hover {
    opacity:0.9;
}

#picture_frame #img_grid img.grid_img {
    margin:0 1px 1px 0;
    width:30px;
    height:30px;
    cursor:pointer;
    opacity:0.6;
}

.panel_content {
}

#indicators {
    margin:1em auto;
    width:80%;
    text-align:center;
}

.indicator {
    display:inline-block;
    width:9px;
    height:9px;
    margin:0 5px 0 0;
    opacity:0.3;
}

.item {
    position:relative;
    width:100%;
    height:100%;
}

.item .cntrl {
    position:absolute;
    -webkit-border-radius:4px;
    border:1px #ddd solid;
    top:1em;
    width:4em;
    height:3em;
    background:#fff;
    line-height:3em;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    opacity:0.15;
}

.item .cntrl#prev_cntrl {
    left:2em;
}

.item .cntrl.right {
    right:2em;
}

.item .cntrl.active.hoverable:hover {
    opacity:0.9;
}

.item .cntrl.active {
    opacity:0.5;
}

.item #loading_mask {
    position:absolute;
    left:35%;
    top:14em;
    -webkit-border-radius:4px;
    width:30%;
    height:7em;
    display:none;
    color:#010;
    text-align:center;
/*    text-shadow: #000 2px 2px 3px;*/
    line-height:5em;
    opacity:0.55;
}

.item img#showcase {
    margin:0 0 0 2%;
    width:96%;
    visibility:hide;
    min-height:200px;
}

.item #img_caption {
    display:block;
}

.item #img_caption h3 {
    padding:0 0 0.75em 0;
}

#contact, #biography {
    position:absolute;
    top:8em;
    padding:4em 0 0 0;
    width:100%;
    z-index:200;
    display:none;
}

#biography {
    z-index:300;
}

div.border_compensator {
    margin:0 2%;
    padding:1em 0;
    width:96%;
    min-height:5em;
}

.closer {
    float:right;
    margin:-1em 0 0 0;
    cursor:pointer;
}

.footer_spacer {
}

.matte {
    padding:0.5em;
}

.hidden {
    display:none;
}

ul, li {
    list-style-type:none;
}

.panel_menu {
    float:left;
    margin:1.5em 0 1em 2em;
    visibility:hidden;
}

.panel_menu li {
    float:left;
    margin:0 1em 0 0;
}


.clear {
    clear:both;
}

.indicator.sparkle, .cntrl.active.sparkle {
    opacity:0.9 !important;
}

.cntrl.active.sparkle {
    opacity:0.7 !important;
}

.grid_img.sparkle, .grid_img:hover {
    opacity:1 !important;
}

