/**
    App Layout Style Sheet
    Jesse Sutherland April 12 2010
**/
/**/
/* Layouts */
* {
    margin:0;
    padding:0;
}

html {
}

html, body {
    width: 100%;
    text-align:center;
}

body {
}

#container {
    position:relative;
    margin:0 auto;
    width: 90%;
    max-width:800px;
    text-align:left;
}

#header {
    padding:1em 0 1em 0;
}

#header .matte {
    padding:0.5em 0;
}

#footer {
    padding:0.5em;
}

#picture_frame {
    clear:both;
    margin:0;
    padding:1em 0 0 0;
    border:2px #aaa solid;
    background:#fff;
}

.panel_content {

}

#indicators {
    margin:1em auto;
    width:80%;
    text-align:center;
}

.indicator {
    display:inline-block;
    width:9px;
    height:9px;
    margin:0 5px 0 0;
    opacity:0.3;
}

.item {
    position:relative;
    width:100%;
    height:100%;
}

.item .cntrl {
    position:absolute;
    top:1em;
    width:4em;
    height:3em;
    background:#fff;
    line-height:3em;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    opacity:0.15;
}

.item .cntrl#prev_cntrl {
    left:1em;
}

.item .cntrl.right {
    right:1em;
}

.item .cntrl:hover {

}

.item .cntrl.active {
    opacity:0.5;
}

.item #loading_mask {
    position:absolute;
    left:0;
    top:8em;
    width:100%;
    height:3em;
    display:none;
    color:#fff;
    text-align:center;
    line-height:3em;
    opacity:0.77;
}

.item img#showcase {
    margin:0 0 0 2%;
    width:96%;
}

.item #img_caption {
    display:block;
}

#contact {
    position:absolute;
    top:2em;
    margin:3em 0 0 0;
    width:100%;
}

.footer_spacer {
}

.matte {
    padding:0.5em;
}

.hidden {
    display:none;
}

ul, li {
    list-style-type:none;
}

.panel_menu {
    float:left;
    margin:1em 0 0 2em;
}

.panel_menu li {
    float:left;
    margin:0 1em 0 0;
}


.clear {
    clear:both;
}

.indicator.sparkle, .cntrl.active.sparkle {
    opacity:0.9 !important;
}

.cntrl.active.sparkle {
    opacity:0.7 !important;
}

