/* Colors & Theme Images */
html, body {
    background:#f4f4f4;
}

body {
    background:#f4f4f4 url(../images/theme/background.png) 50% 0 no-repeat;
}

h1, h2, h3, h4, h5, h6, h7, p, span, strong {
    color: #040506;
}

a:link, a:active, a:hover, a:visited {
    color: #338000;
}

#header, #footer {
}

#contact {
}

#contact h2, #contact p {

}

.indicator {
    background: url(../images/theme/dots.png) 0 0 no-repeat;
}

.iphone .indicator {
    background: url(../images/theme/dots_small.png) 0 3px no-repeat;
}

